{% block content %}
    <ul class="nav navbar-nav">
        <li class=""><a href="/">Главная</a></li>
        <li class=""><a href="/user/personal-page">Моя страница</a></li>
        <li class=""><a href="/user/logout">Разлогиниться</a></li>
    </ul>
{% endblock %}